@use '@/app/base';

.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	grid-column: span 12;
}

@media screen and (max-width: 768px) {
	.filter {
		justify-content: flex-start;
		margin-bottom: 1rem;
	}
}
