@use '@/app/base';

.services {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.service {
	cursor: pointer;
}

.title {
	display: flex;
	gap: 0.6rem;
	align-items: center;
	margin-bottom: 0.5rem;

	h4 {
		margin: 0;
	}
}

.serviceText {
	font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.title {
		h4 {
			font-size: 1rem;
		}
	}
}
